@use 'styles';

section#about-me {
    @include styles.flexit;
    flex-direction: column;
    background: styles.$box-color-lite;
    height: 100vh;
    margin: 10vh auto 20vh auto;

    header {
        h1 {
            font-size: styles.$heading-font-size;
            border-bottom: black 2px dotted;
        }

        h3 {
            font-size: 1.4rem;
        }
    }

    div {
        @include styles.flexit;
        flex-direction: row;
        width: 85vw;
        padding: 5vh 1vw;

        figure {
            padding: 10px;

            img {
                border-radius: 50%;
                padding: 5%;
                width: 100%;
            }
        }

        div#about-me-details {
            background: styles.$border-color-lite;
            padding: 10%;
            border-radius: 5%;
            @include styles.flexit;
            flex-direction: column;

            h2 {
                margin-bottom: 2vh;
            }
        }
    }
}

@media (max-width: 768px) {
    section#about-me {
        flex-direction: column;

        div#about-me-cont {
            flex-direction: column;
        }
    }
}