@use 'styles';

section#contact-me {
    @include styles.flexit;
    flex-direction: column;
    margin: 25vh 0;
    height: 50vh;

    form {
        margin-top: 3vh;
        @include styles.flexit;
        flex-direction: row;


        input,
        textarea {
            color: #333;
            border: none;
            border-radius: 5px;
            padding: 2%;
            width: styles.$contact-me-desktop;
            margin: 2vh 5px;
            margin-bottom: auto;
        }

        #inputs {
            @include styles.flexit;
            flex-direction: column;
        }

        #textarea-submit {
            @include styles.flexit;
            flex-direction: column;
            justify-content: space-between;

            textarea {
                height: 10vh;
            }

            input#submit-btn {
                font-size: 1.5rem;
                padding: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    section#contact-me {
        form {
            flex-direction: column;

            input,
            textarea,
            input#submit-btn {
                width: styles.$contact-me-mobile;
            }
        }
    }
}