@use "styles";

@keyframes pulse {
  0% {
    color: seashell;
    box-shadow: transparent;
    transform: scale(1);
  }

  50% {
    color: cyan;
    transform: scale(1.05);
  }

  100% {
    color: seashell;
    box-shadow: transparent;
    transform: scale(1);
  }
}

nav {
  width: 100vw;
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;

  #navbar-items {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    list-style: none;
    width: 100%;

    li {
      @include styles.flexit;
      padding: 5px;
      color: seashell;

      a {
        animation: pulse 3s infinite;
        color: seashell;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }

    :hover {
      opacity: 0.8;
      color: cyan;
      cursor: pointer;
    }
  }
}