@use "styles";

nav {
  width: 100vw;
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  #navbar-items {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    list-style: none;
    width: 100%;

    #hamburger {
      display: none;
    }

    li {
      @include styles.flexit;
      padding: 5px;
      color: styles.$font-color;

      a {
        @include styles.flexit;
        text-align: center;
        color: styles.$font-color;
        text-decoration: none;
      }
    }
    #theme-nav {
    }
  }
}

@media (max-width: 768px) {
  nav {
    height: auto;
    left: 0;

    #navbar-items {
      flex-direction: column;
      li {
        opacity: 0;
        transform: scale(0);
        transition: all 0.4s ease;
      }
      #hamburger {
        display: block;
        opacity: 1;
        transform: scale(1);
        transition: all 0.4s ease;
      }
      li.vis {
        opacity: 1;
        transform: scale(1);
        transition: all 0.4s ease;
      }
    }
  }
}
