@use 'styles';

section#project-showcase {
    @include styles.flexit;
    width: 85vw;
    background: styles.$box-color-lite;
    flex-direction: column;
    margin: auto;

    h2 {
        font-size: styles.$heading-font-size/1.7;
    }

    div#projects {
        @include styles.flexit;
        flex-direction: row;

        figure.project {
            width: 25vw;
            background: styles.$border-color-dark;
            padding: 1vh 1vw;
            margin: 3%;

            img {
                width: 100%;
                max-width: inherit;
                max-height: 45vw;
                margin-bottom: 5%;
            }

            figure.techstack {
                border-top: 2px black dotted;

                i {
                    font-size: 2rem;
                    margin: 1%;
                }
            }

            i {
                font-size: 3rem;
                margin: 3% 0 0 0;
            }
        }
    }
}

@media (max-width: 768px) {
    section#project-showcase {
        div#projects {
            flex-direction: column;
            width: 80vw;

            figure.project {
                input {
                    width: 80vw;

                    div#text-areasubmit {

                        textarea,
                        input {
                            width: 80vw;
                        }
                    }
                }
            }
        }
    }
}