@mixin flexit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

$box-color-lite: rgba(0, 0, 0, 0.3);
$border-color-lite: rgba(0, 200, 250, 0.3);
$box-color-dark: rgba(0, 0, 75, 0.9);
$font-color-lite: #333;
$font-color: seashell;
$heading-font-size: 2.5rem;

$contact-me-desktop: 25vw;
$contact-me-mobile: 80vw;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  color: $font-color;
}

.lite {
  background: $box-color-lite;
}

.dark {
  background: $box-color-dark;
}

.btn {
  @include flexit;
  color: #333;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 5px;
  height: 2.5rem;
  width: 7rem;
  padding: 2px;
  font-weight: 500;
  font-size: 1.2rem;
  background: $font-color;
  border: none;

  i {
    font-size: 1.5rem;
    margin: 2px;
  }
}

.btn:hover {
  color: #333;
  background: cyan;
  transition: all 0.4s ease;
  cursor: pointer;
}

//Background
div#background {
  z-index: -1000;
  position: fixed;
  background-position-x: center;
  background: url(".././img/oceanfloor.jpg");
  height: 100vh;
  width: 100vw;
}

//Background Line layer 1
#menu {
  @include flexit;
  position: fixed;
  bottom: -100%;
  margin: 0 auto;
  height: 50vh;
  width: 50vh;
  transition: all 1s;
  border-radius: 50%;
  background: rgba($color: $font-color, $alpha: 0.35);
  z-index: -10;

  ul {
    list-style: none;
    width: 85%;

    li {
      text-align: left;
      font-size: 1.1rem;
      padding: 3px;
    }
  }
}

#menu.vis {
  position: fixed;
  margin: auto;
  left: auto;
  bottom: 25%;
  height: 50vh;
  width: 50vh;
  background: rgba($color: $font-color, $alpha: 0.35);
  border: 2px solid $font-color;
  transition: all 1s;
  z-index: 10;
}