/* Error: There is no module with the namespace "styles".
 *    ,
 * 24 |             @include styles.flexit;
 *    |             ^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   src\sass\navbar.scss 24:13  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "styles".\a    \2577 \a 24 \2502              @include styles.flexit;\d\a    \2502              ^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   src\\sass\\navbar.scss 24:13  root stylesheet';
}
