@use "../mixins.scss";

.navbar {
	@include mixins.flex-row;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	justify-content: space-between;
	z-index: 100;
	overflow: hidden;
	h1 {
		display: none;
		@include mixins.sm {
			display: flex;
		}
		@include mixins.fonts(2);
		margin: 0 1rem;
		text-shadow: 3px 2px rgba($color: black, $alpha: 0.5);
	}
	ul {
		list-style: none;
		@include mixins.flex-row;
		margin: 0 1rem;
		a {
			color: ivory;
		}
		li {
			position: relative;
			@include mixins.fonts(3);
			margin: 1rem 1rem;
			padding: 0.6rem;
			.text::after {
				content: attr(text);
				position: absolute;
				bottom: 0;
				left: 0;
				text-align: center;
				width: 100%;
				@include mixins.fonts(0.7);
			}
		}

		li:hover {
			a {
				color: violet;
				transition: all 0.2s ease;
				i {
					transform: translateY(-2px);
					transition: all 0.3s ease;
				}
			}
		}
	}
}
