@use "../mixins.scss";

.line {
	@include mixins.flex-row;
	height: 3vh;
	width: 90vw;
	margin: 2vh 0;
	h2 {
		@include mixins.fonts(3.5);
		text-align: left;
		margin: 5vh 2vw;
	}
	span {
		@include mixins.line-hor(80%, 5px, white);
	}
}
