@use "./mixins.scss";

.container {
	@include mixins.flex-column;
	overflow-x: hidden;
}
.container::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-image: url("./assets/background.jpg");
	background-position: center;
	background-size: cover;
	z-index: -100;
}
