* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	/* background-image: url("./assets/background.jpg");
	background-position: center;
	background-size: cover; */
	z-index: -100;
	position: relative;
	overflow-x: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
